@mixin prev-next-button {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.15);
    }
}
